<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.atecdroid.appfestfinder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fest"
        android:label="FestFinder"
        android:supportsRtl="true"
        android:name=".AppFest"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.AvCronoMeses">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AvMesPerfil"></activity>
        <activity android:name=".activities.AvFestivalPerfil"></activity>
        <activity android:name=".activities.AvCartaz"></activity>
    </application>

</manifest>